html,
body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	background-color: #d9e0e6;
	color: #1c2b3a;
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 30px auto;
}

img {
	width: 150px;
	margin: 0 auto;
}

input {
	color: #1c2b3a;
	background-color: #a9b6c4;
	border: 0;
	padding: 15px;
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
	font-family: "Rubik", sans-serif;
	margin: 10px 0;
}

button {
	color: #fdfdfd;
	background-color: #3f4f8c;
	border: 0;
	padding: 15px;
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
	font-family: "Rubik", sans-serif;
}

button:hover {
	background-color: #1c2b3a;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

ul li {
	font-size: 20px;
	background-color: #eef0f4;
	padding: 15px;
	border-radius: 8px;
	flex-grow: 1;
	text-align: center;
	box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.1);
}

ul li:hover {
	background-color: #c4ccd4; /* changed this color */
	cursor: pointer;
}
